
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Dependency directories
jspm_packages/

# Optional npm cache
.npm

.env
.env.local
